# Python
__pycache__/
*.pyc

# Env
venv/

# OS
.DS_Store

# Data (CRITICAL)
analysis_results/
Offload/
playground_statistics/
cache/
features/
Data/
raw/
processed/

# Files
*.csv
*.mp4
*.json
cache/
features/
*.csv
*.mp4

# ABSOLUTE DATA BLOCK
Data/
data/
raw/
processed/
features/
analysis_results/
*.mp4
*.wav
*.csv

# Exceptions (IMPORTANT)
!src/**/*.json