numpy==1.26.4
scipy==1.10.1
pandas==2.3.3

opencv-python==4.8.1.78

torch==2.1.2
torchvision==0.16.2

py-feat==0.5.0

openai-whisper==20231117
tiktoken==0.5.2
numba==0.58.1
llvmlite==0.41.1
more-itertools==10.2.0

tqdm==4.67.3